body {
  font-size: 20px;
}

.top {
  text-align: center;
  font-size: 50px;
}

.first {
  text-align: center;
  font-weight: bold;
}

.topic {
  font-size: 30px;
  margin-bottom: 15px;
}
.nav-list {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
  font-size: 30px;
  margin-right: 50px;
}
a:hover {
  color: blue;
  cursor: pointer;
}
