body {
  font-size: 20px;
}
.top {
  text-align: center;
  font-size: 50px;
}
hr {
  margin-top: 15px;
  margin-bottom: 20px;
}
.first {
  text-align: center;
}
.topic {
  font-size: 30px;
  margin-bottom: 15px;
}
.about {
  font-weight: bold;
}
.file {
position: relative;
background-color: #f9f9f9;
padding: 5px;
border: 3px solid #ddd;
margin: 10px;
}
.file1 {
  z-index: 1;
}
.file2 {
  z-index: 2;
}
.file3 {
  z-index: 3;
}
