.top {
  text-align: center;
  font-size: 50px;
}
hr {
  margin-top: 15px;
  margin-bottom: 20px;
}
.first {
  text-align: center;
}
.topic {
  font-size: 30px;
  margin-bottom: 15px;
}
.about {
  font-size: 16px;
  font-weight: bold;
}
