body {
  font-size: 20px;
}
.top {
  text-align: center;
  font-size: 50px;
}
.file {
position: relative;
background-color: #f9f9f9;
padding: 5px;
border: 3px solid #ddd;
border-radius: 10px;
margin: 10px;

}
.file1 {
  z-index: 1;
}
.file2 {
  z-index: 2;
}
.file3 {
  z-index: 3;
}
.file4 {
z-index: 4;
}
.file5 {
z-index: 5;
margin-bottom: ;
}
.list1 {
  padding: 15px;
}
